.carousel {
    img {
        height: 30vh;
    }

    h2 {
        background-color: rgba($prp, 0.5);
        color: $wht;
        font-family: $hfont1;
        word-spacing: 5px;
        font-size: 1.5em;
        min-width: 50%;
        width: auto;
        border: 1px solid $wht;
        border-radius: 30px;
    }

}